.nav {
  position: sticky;
  width: 100svw;
  top: 0px;
  left: 0px;
  background-color: black;
  display: flex;
  width: 100%;
  padding: 0px 64px;
  align-items: center;
  background: var(--background-dark--90, #292929);
}

.nav__item {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.nav__link {
  color: var(--White, #FFF);
  text-align: center;
  font-family: "Good Times";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}  